<!-- back arrow -->
<div class="back">
  <a href="/menu">
    <i class="material-icons">arrow_back</i><p>
      back
    </p>
  </a>
</div>

<!-- mobile category menu -->
<section id="mobile-category" class="hide-on-med-and-up">
  <h3 class="center red">{{category}}</h3>
  <ul class="menu-list">
    {{#each card}}
    <li><a href="/play/{{card_name}}">{{card_name}}</a></li>
    {{/each}}
  </ul>
</section>

<!-- tablet+ category menu -->
<section id="desk-category" class="hide-on-small-only center">
  <p class="sign-out">
    sign out
  </p>
  <h3 class="red">{{category}}</h3>
  <div class="">
    {{#each card}}
    <div class="category-box">
      <div class="">
        <a href="/play/{{card_name}}"><h4>{{card_name}}</h4></a>
      </div>
    </div>
    {{/each}}
  </div>
</section>
