<!-- back arrow -->
<div class="back">
  <a href="/menu">
    <i class="material-icons">arrow_back</i><p>
      back
    </p>
  </a>
</div>

<!-- mobile game board -->
<section class="game-board hide-on-med-and-up">
  <h3 class="dark-blue board-title">{{title}}</h3>
  <div class="mobile-board">
    <div class="menu-box mobile-box" data-box="1" data-location="{{locations.[0]}}">
      <div class="square">
        <h4>{{square.[0]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="2" data-location="{{locations.[1]}}">
      <div class="square">
        <h4>{{square.[1]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="3" data-location="{{locations.[2]}}">
      <div class="square">
        <h4>{{square.[2]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="4" data-location="{{locations.[3]}}">
      <div class="square">
        <h4>{{square.[3]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="5" data-location="{{locations.[4]}}">
      <div class="square">
        <h4>{{square.[4]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="6" data-location="{{locations.[5]}}">
      <div>
        <h4 class="square">{{square.[5]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="7" data-location="{{locations.[6]}}">
      <div class="square">
        <h4>{{square.[6]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="8" data-location="{{locations.[7]}}">
      <div class="square">
        <h4>{{square.[7]}}</h4>
      </div>
      <div class="star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
  </div>
</section>

<!-- Mobile Modal No Location -->
<div class="mobile-modal hide-on-med-and-up" id="modalMnoLocation">
  <div class="modal-message">
    <h4>Awesome! <br />You found it?</h4>
    <button class="medium-button notFound red-box">Oh....no</button>
    <button class="medium-button found blue-box">You bet</button>
  </div>
</div>

<!-- Mobile Modal With Location -->
<div class="mobile-modal hide-on-med-and-up" id="modalMLocation">
  <div class="modal-message">
    <h4></h4>
    <div class="locationFound red" id="locationFoundM">no, really, I found it.</div>
  </div>
</div>

<!-- tablet+ game board -->
<section class="game-board hide-on-small-only">
  <h3 class="orange board-title">{{title}}</h3>
  <div class="tablet-board">
    <div class="menu-box tablet-box" data-box="1" data-location="{{locations.[0]}}">
      <div class="square">
        <h4>{{square.[0]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="2" data-location="{{locations.[1]}}">
      <div class="square">
        <h4>{{square.[1]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="3" data-location="{{locations.[2]}}">
      <div class="square">
        <h4>{{square.[2]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="4" data-location="{{locations.[3]}}">
      <div class="square">
        <h4>{{square.[3]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box">
      <div class="free-space">
        <h4>512 Bingo</h4>
      </div>
      <div class="tablet-star free-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="5" data-location="{{locations.[4]}}">
      <div class="square">
        <h4>{{square.[4]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="6" data-location="{{locations.[5]}}">
      <div class="square">
        <h4>{{square.[5]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="7" data-location="{{locations.[6]}}">
      <div class="square">
        <h4>{{square.[6]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="8" data-location="{{locations.[7]}}">
      <div class="square">
        <h4>{{square.[7]}}</h4>
      </div>
      <div class="tablet-star">
        <img src="/style/images/star.png" alt="star">
      </div>
    </div>
  </div>
</section>

<!-- Tablet Modal No Location -->
<div class="tablet-modal hide-on-small-only" id="modalTnoLocation">
  <div class="modal-message">
    <h4>Awesome! You found it?</h4>
    <button class="medium-button red-box notFound">Oh...no</button>
    <button class="medium-button blue-box found">You bet</button>
  </div>
</div>

<!-- Tablet Modal With Location -->
<div class="tablet-modal hide-on-small-only" id="modalTLocation">
  <div class="modal-message">
    <h4></h4>
    <div class="locationFound red" id="locationFoundT">no, really, I found it.</div>
  </div>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Materialize Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- local js -->
<script src="/js/game.js" charset="utf-8"></script>
